<div class="row p-5">
  <div class="col">
    <div class="card shadow" [ngStyle]="{ 'background-color': color }">
      <div class="card-body">
        <form>
          <div class="form-group">
            <input type="email" class="form-control title-input" id="input-title" placeholder="Title" [ngStyle]="{ 'background-color': color }">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="input-content" rows="6" placeholder="Content.." [ngStyle]="{ 'background-color': color }"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>