<div class="row p-5">
  <div class="col">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="card shadow" [ngStyle]="{ 'background-color': color }">
        <div class="card-body">
          <div class="form-group">
            <input type="text" 
                  class="form-control title-input"
                  [class.is-invalid] = "titleInvalid" 
                  id="input-title" 
                  formControlName="title"
                  placeholder="Title" 
                  [ngStyle]="{ 'background-color': color }">
            <small class="text-danger" *ngIf="titleInvalid">Title invalid (It's email or It not have min 3 characteres)</small>
          </div>
          <div class="form-group">
            <textarea class="form-control" 
                      [class.is-invalid] = "contentInvalid"
                      id="input-content"
                      formControlName="content"
                      rows="6" 
                      placeholder="Content.." 
                      [ngStyle]="{ 'background-color': color }"></textarea>
            <small class="text-danger" *ngIf="contentInvalid">Content Note invalid, min length 5</small>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <div>
            {{date | date: 'dd'}}-{{date | date:'MM'}}-{{date | date: 'yyyy'}}
          </div>
          <div>
            <button type="submit" class="btn bt-icon">
              <fa-icon [icon]="saveIcon"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>